body {
    background-color: rgb(21, 145, 114);
    margin: 100px;
}

.cellImg {
    height: 200px;
    width: 200px;
    padding: 10px;
}

.cellImg2 {
    height: 350px;
    width: 350px;
    padding: 10px;
}

.goBack {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.rightSide {
    text-align: right;
}

.charCell {
    padding: 10px;
}

table {
    margin: 50px;
}